{% extends "base.html" %}

{% block title %}
    <title>Create</title>
{% end %}

{% block body %}
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example-navbar-collapse">
                    <span class="sr-only">Exchange</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="example-navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a class="icon-bar" href="/index?user={{username}}">Home</a>
                    </li>
                    <li class="active"><a href="#">Create New Log</a>
                    </li>
                    <li><a href="/log_manager">Manage Logs</a>
                    </li>
                    <li><a href="#">Manager account</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <div class="btn-group">
                            <button style="margin: 10px;  min-width: 80px;" type="button" class="btn btn-primary dropdown-toggle btn-sm"
                                    data-toggle="dropdown">
                                {{username}} <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Personal Center</a></li>
                                <li><a href="#">Change Password</a></li>
                                <li class="divider"></li>
                                <li><a href="/login"><b>Log out</b></a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="text-center" style="margin-top: 30px"><h3>Create A Log</h3></div>
    <div style="width: 100%">
        <div style="width: 80%; border: 1px solid gray; margin: auto">
            <form method="post" style="padding: 10px">
                <p><b>Title of This Log</b><div class="text-center"><input id="title" style="text-align: center;" type="text"></div></p>
                <p>
                    <b>Related Algorithm</b><div class="text-center">
                        <select id="algid">
                        {% for alg in alglist %}
                            <option value="{{alg}}">{{alglist[alg]}}</option>
                        {% end %}
                        </select>
                    </div>
                </p>
                <p>
                    <b>Content</b><div class="text-center">
                    <textarea id="content" rows="15" cols="100"></textarea>
                </div></p>
                <p><div class="text-center">
                    <button type="button" class="btn btn-primary btn-lg" id="submit">Create</button>
                </div></p>
            </form>
        </div>
    </div>
{% end %}

{% block script %}
    <script>
        $(document).ready(function () {
            $('#submit').click(function () {
                var title = $('#title').val();
                var algid = $('#algid option:selected').val();
                var content = $('#content').val();
                var pd = {'title':title, 'algid':algid, 'content':content};
                console.log(pd);
                $.ajax({
                    type:'post',
                    url:'/log_creator',
                    data:pd,
                    cache:false,
                    success:function (backdata) {
                        window.location.href = '/index?user='+backdata;
                    },
                    error:function (backdata) {
                        alert(backdata);
                    }
                });
            });
        });
    </script>
{% end %}